<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인 전 페이지입니다.</h1>
    
    <form action="/accounts/google/login/" method="post">
        {% csrf_token %}
        <button type="submit">구글 로그인</button>
    </form>
    <br>
    <form action="/accounts/naver/login/" method="post">
        {% csrf_token %}
        <button type="submit">네이버 로그인</button>
    </form>
    <br>
    <form action="/accounts/kakao/login/" method="post">
        {% csrf_token %}
        <button type="submit">카카오 로그인</button>
    </form>
</body>
</html>
